<section class="py-5 text-center d-flex align-items-center justify-content-center">
  <div class="container py-sm-0 py-5">
    <h2 class="fw-bolder">ABOUT</h2>
    <div class="hr-line my-3 mx-auto position-relative">
      <div class="star px-3 position-absolute top-50 start-50">
        <i class="fa-solid fa-star fa-2x"></i>
      </div>
    </div>
    <div class="row text-start pt-3 px-xl-5">
      <div class="col-lg-6 fs-5 pb-2 pb-xl-0">Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</div>
      <div class="col-lg-6 fs-5">You can create your own custom avatar for the masthead, change the icon in the dividers, and add your email address to the contact form to make it fully functional!</div>
    </div>
  </div>
</section>
