<header class="d-flex align-items-center justify-content-center">
  <div class="container text-center">
    <img class="w-25" src="assets/IMGS/avataaars.svg" alt="Boy">
    <div class="pt-2 w-100">
      <h2 class="text-uppercase fw-bolder">Start Angular</h2>
      <div class="hr-line my-3 mx-auto position-relative">
        <div class="star px-3 position-absolute top-50 start-50">
          <i class="fa-solid fa-star fa-2x"></i>
        </div>
      </div>
      <p>Graphic Artist - Web Designer - Illustrator</p>
    </div>
  </div>
</header>
